body, input, label, select, option, textarea, button, fieldset, legend {
    font-family:  "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.toaster {
    position: fixed;
    top: 65px;
    right: 100px;
    z-index: 9999;
    width: 265px;
}

.toast-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 15px;
    display: none;
    position: relative;
}

.toast-item .message {
    width: 230px;
}

.toast-item .close {
    position: absolute;
    right: 15px;
    bottom: 16px;
    cursor: pointer;
}

.btn {
    transition: 0.3s;
}

.btn:focus, .btn:active {
    box-shadow: none;
}

.btn-primary {
    background-color: #926dea;
    border-color: #926dea;
}

.btn-primary:hover, .btn-primary:active,.btn-primary.active, .btn-primary.focus {
    background-color: #6e44cc;
    border-color: #6e44cc;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.focus, .btn-primary.active {
    outline: none;
    background-color: #6e44cc;
    border-color: #6e44cc;
}

.navbar-default {
    background-color: #926dea;
    border-color: #b399dc;
    color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #b399dc;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #eeeeee;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    transition: 0.3s;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #eeeeee;
}

.form-control {
    border: 1px solid #eeeeee;
}

.form-control:hover, .form-control:active {
    border-color: #926dea;
}

.form-control:focus, .form-control:active {
    box-shadow: 0 0 0 2px rgba(179, 152, 220, 0.2);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #926dea;
}

.form-group {
    display: flex;
}

.form-group label, .form-group p {
    flex: 1 0 auto;
    margin-right: 10px;
    width: 60px;
}

.modal-open .modal {
    display: flex;
    align-items: center;
    justify-content: center;
}